[submodule "lib/Fast-DDS"]
	path = lib/Fast-DDS
	url = git@github.com:eProsima/Fast-DDS.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "lib/memory"]
	path = lib/memory
	url = git@github.com:foonathan/memory.git
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
